{
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "semi": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.puml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
